@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}
.user-dashboard-section .dashboard-right-sidebar {
    background-color: #f8f8f8;
    padding: calc(20px + (40 - 20) * ((100vw - 320px) / (1920 - 320)));
    border-radius: 8px;
    height: 100%;
}
.contact-title h3::after {
    content: "";
    position: absolute;
    width: 70%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: aqua;
    background: var(--theme-color2);
}
